<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.niuxin.mapper.ChatRecordMapper">
	<resultMap type="com.niuxin.bean.ChatRecord" id="r">		
	</resultMap>
	<parameterMap type="com.niuxin.bean.ChatRecord" id="p"></parameterMap>


	<insert id="insert" parameterMap="p">
		 insert into chat_record(sendUserId,message,receiveUserId,receiveGroupId,imageUrl,audioUrl,videoUrl,createTime) 
			values(#{sendUserId},#{message},#{receiveUserId},#{receiveGroupId},#{imageUrl},#{audioUrl},#{videoUrl},#{createTime}) 
	</insert>


	<select id="selectByGroupId" resultMap="r" parameterType="int">
		select * from chat_record where receiveGroupId=#{receiveGroupId}	GROUP BY  id asc
	</select>


	<select id="selectByUser" resultMap="r" parameterMap="p">
		 select * from chat_record where receiveUserId= #{receiveUserId} 
			and sendUserId=#{sendUserId} GROUP BY  id asc
	</select>
	
	<select id="selectLastByGroupId" resultMap="r" parameterType="int">
		select * from chat_record where receiveGroupId=#{receiveGroupId}	GROUP BY  id desc limit 1
	</select>


	<select id="selectLastByUser" resultMap="r" parameterMap="p">
		 select * from chat_record where receiveUserId= #{receiveUserId} 
			and sendUserId=#{sendUserId} GROUP BY  id desc limit 1
	</select>
	
	<select id="selectByChatRecord" resultMap="r" parameterMap="p">
		 select * from chat_record where sendUserId=#{sendUserId} and message=#{message}
	</select>
	
	

</mapper>