<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.niuxin.mapper.FormFromMapper">
     <resultMap type="com.niuxin.bean.FormFrom"  id="r">
          <result property="createTime" column="create_time"/>
           <result property="userId" column="user_id"/>
            <result property="recriveUserid" column="receive_userid"/>
             <result property="recviveGroupid" column="receive_groupid"/>
    </resultMap>
    <parameterMap type="com.niuxin.bean.FormFrom"  id="p"></parameterMap>
    

    
    
    
    
    
    
    
    
    
    
</mapper>