<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.niuxin.mapper.ShareMapper">
     <resultMap type="com.niuxin.bean.Share"  id="r">
        
    </resultMap>
    <parameterMap type="com.niuxin.bean.Share"  id="p"></parameterMap>
    
   

    <select id="selectAll" resultMap="r">    
        select * from share order by id asc
    </select>
   
 <select id="selectById" resultMap="r">    
        select * from share where id =#{id}
    </select>
    
 
   <select id="selectByShareName" resultMap="r" parameterType="String">  
        select * from share where number like "%"#{number}"%"
    </select>

</mapper>