<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.niuxin.mapper.ShareGroupMapper">
     <resultMap type="com.niuxin.bean.ShareGroup"  id="r">
           <result property="enterGrade" column="enter_grade"/>
       
           <result property="totalNumber" column="total_number"/>
         
           <result property="currentNumber" column="current_number"/>
             <result property="createTime" column="create_time"/>
    </resultMap>
    <parameterMap type="com.niuxin.bean.ShareGroup"  id="p"></parameterMap>
    
    <insert id="insert" parameterMap="p" useGeneratedKeys="true" keyProperty="id">    
        insert into share_group(type,enter_grade,description,isfree,total_number,current_number,create_time,name,mark,createuserid,img) 
        values(#{type},#{enterGrade},#{description},#{isfree},#{totalNumber},#{currentNumber},#{createTime},#{name},#{mark},#{createuserid},#{img})
    </insert>
 
     <select id="selectAll" resultMap="r">    
        select * from share_group order by id asc
    </select>
    
      <select id="selectById" resultMap="r" parameterType="int">    
        select * from share_group where id= #{id}
    </select>
    
         <select id="selectByType" resultMap="r" parameterType="String">    
        select * from share_group where type= #{type}
    </select>
    
     <select id="selectByisFree" resultMap="r" parameterType="String">    
        select * from share_group where isfree = #{isfree}
    </select>
    
       <select id="selectByShareGroup" resultMap="r" parameterMap="p">    
        select * from share_group where isfree = #{isfree} and  type= #{type} or  name like "%"#{name}"%" or mark like "%"#{mark}"%" 
    </select>
       
</mapper>
