<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.niuxin.mapper.ShareSelectMapper">
     <resultMap type="com.niuxin.bean.ShareSelect"  id="r">   
         
    </resultMap>
    <parameterMap type="com.niuxin.bean.UserGShareSelectroup"  id="p"></parameterMap>
    
   
    <insert id="insert" parameterMap="p">    
        insert into share_select(userId,shareId) values(#{userId},#{shareId})
    </insert>
   
      <select id="selectByUserid" resultMap="r" parameterType="int">    
        select * from share_select where userId= #{id}
    </select>
    
    
       
</mapper>
