<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.niuxin.mapper.TemplateMapper">
     <resultMap type="com.niuxin.bean.Template"  id="r">
        
         <result property="sendtoUser" column="sendto_user"/>
              <result property="sendtoGroup" column="sendto_group"/>
    </resultMap>
    <parameterMap type="com.niuxin.bean.Template"  id="p"></parameterMap>
    

    
    
         <insert id="insert" parameterMap="p" useGeneratedKeys="true" keyProperty="id">    
        insert into form(contract,operation,price,handnum,position,minnum,maxnum,remark,pictureurl,audiourl,sendto,createtime,updatetime,audioread,sendfrom,occupy,name,sendto_user,sendto_group) 
        values(#{contract},#{operation},#{price},#{handnum},#{position},#{minnum},#{maxnum},#{remark},#{pictureurl},#{audiourl},#{sendto},#{createtime},#{updatetime},#{audioread},#{sendfrom},#{occupy},#{name},#{sendtoUser},#{sendtoGroup})
    </insert>
 
     <select id="selectAll" resultMap="r">    
        select * template form order by id asc
    </select>
    
      <select id="selectById" resultMap="r" parameterType="int">    
        select * template form where id= #{id}
    </select>
    
    
     <update id="update" parameterMap="p">  
        update template set name=#{name},updatetime=#{updateTime} where id=#{id}
    </update>
    
    
         <delete id="delete" parameterType="int">  
        delete from template where id=#{id}
    </delete>
    
    
    
    
    
</mapper>