<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.niuxin.mapper.UserMapper">
     <resultMap type="com.niuxin.bean.User"  id="r">
            <result property="userName" column="username"/>
        <result property="passWord" column="password"/>
          <result property="createTime" column="createtime"/>
             <result property="updateTime" column="updatetime"/>
    </resultMap>
    <parameterMap type="com.niuxin.bean.User"  id="p"></parameterMap>
    
    
    
    <select id="countAll" resultType="int">  
        select count(*) c from user;
    </select>
    
    
      <select id="findByUserId" resultMap="r" parameterType="int">  
        select * from user where id = #{id};
    </select>
    

    <select id="selectAll" resultMap="r">    
        select * from user order by id asc
    </select>
    
     <select id="select" resultMap="r" parameterMap="p">    
        select * from user where username=#{userName} and password = #{passWord}
    </select>
    
    <insert id="insert" parameterMap="p">    
        insert into user(username,password,status,createtime,updatetime,email,isOnline,img,ip,port) 
        values(#{userName},#{passWord},#{status},#{createTime},#{updateTime},#{email},#{isOnline},#{img},#{ip},#{port})
    </insert>
    
    <update id="update" parameterMap="p">  
        update user set username=#{userName},password=#{passWord},status=#{status},createtime=#{createTime} ,updatetime=#{updateTime} where id=#{id}
    </update>
    
    <delete id="delete" parameterType="int">    
        delete from user where id=#{id}
    </delete>
    
    <select id="findByUserName" parameterType="String"  resultMap="r"> 
        select * from user where username=#{username}
    </select>
 
</mapper>